.primary, .secondary {
  position: absolute;
  top: 10px;
  left: 20px;
}

.portfolio-item .primary {
  transform: rotateY(0);
}

.portfolio-item .secondary {
  transform: rotateY(180deg);
}

.portfolio-item:hover .primary {
    transform: rotateY(-180deg);
    transition-duration:1s;
}

.portfolio-item:hover .secondary {
    transform: rotateY(0);
    transition-duration:1s;
}
